@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
.imagen {
    border:0px;
    height:45px;
    width:45px
}
#caja {
    margin-left: 250px;
    max-height: 580px;
/*     max-width: 80%; */
    overflow: scroll;
}

.login {
  background-color: black; 
  max-width: 300px;
  margin-right: 0px;
  margin-top: -25px;
  
}
.top {
  margin-bottom: 341px;
}